/* -------------------Atelier 1----------------------- */

.title {
    text-align: center;
    margin-bottom: 100px;
}

.color_orange {
    color: #E06E3C;
}

.blue_span {
    color:#3964E8;
}

.margin_left {
    margin-left: 20px;
  }

.nav_container {
    display: flex;
    justify-content: space-between;
    background-color: #3964E8;
    border: 4px solid #E06E3C;
    color: white;
    margin: 10px;
    padding: 0px 20px 0px 20px;
}

.nav_list {
    display: flex;
    align-items: center;
}

header {
    margin-bottom: 150px;
}

section {
    margin-bottom: 150px;
}


/* -------------------Atelier 2----------------------- */

.card_container {
    display: flex;
    justify-content: center;
}

.card {
    width: 270px;
    height: 374px;
    margin: 20px;
    background-color: white;
    border: 4px solid #E06E3C;
    border-radius: 20px;
}

.card:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
.card_image {
    border-radius: 12px 12px 00px 00px;
  }
  
.card_body {
    padding: 0px 20px;
    margin-top: 25px;
    position: relative;

  }

.card_body p {
    margin-top: 13px;
  }

.card_title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70px;
    gap: 110px;
  }
 
.card_description {
    font-size: 13px;
  }
  

  /* -------------------Atelier 3----------------------- */

.gallery_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 224px);
    grid-template-rows: min-content 250px  268px;
    grid-gap: 1em;
}

.item2 {
    grid-column: 2;
    grid-row: 1 / 3;
}

.item9 {
    grid-column: 1;
}

.item12 {
    grid-column: 5;
    grid-row: 3;
}
.item13 {
    grid-column: 5;
    grid-row: 4;
}

.item14 {
    grid-column: 1;
    grid-row: 4;
}
.item15 {
    grid-column: 2;
    grid-row: 4;
}


  /* -------------------Atelier 4----------------------- */


  .service_container {
    display: flex;
    justify-content: center;
  }
  .service_card{
    width: 425px;    
    height: 785px;
    margin: 20px;
    background-color: white;
    border: 4px solid #3A86FF;
    border-radius: 10px;
    position: relative;
  }
  .service_footer {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: baseline;
    gap: 80px;
  }

  .service_list ul:hover {
    background-color: #3A86FF;
    padding: 10px;
    cursor: pointer;
    color: white;
  }

  .button_service {
    background-color: #3A86FF;
    border: 2px solid #3A86FF;
    border-radius: 5px;
    margin: 5px;
    width: 181px;
    color: white;
    cursor: pointer;
  }

  .card_rh {
    width: 752px;    
    height: 284px;
    margin: 20px;
    background-color: white;
    border: 4px solid #3A86FF;
    border-radius: 10px;
    position: relative;
  }
   .mail {
    position: absolute;
    right:10px
  }
  .hourglass {
    position: absolute;
    right:10px
  }
  
  .rh_footer {
    position: absolute;
    bottom:20px;
    right: 30px;
  }
 
  .delete_button {
    background-color: #FF7070;
    border: 2px solid #FF7070;
  }

